<p-card styleClass="m-3">
  <div class="grid">
    <div class="col-2" *ngFor="let manga of mangaList.manga">
      <a [routerLink]="['/detail', manga.comicId]" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img class="field block mx-auto" src="https://www.comicabc.com/pics/0/{{manga.comicId}}.jpg" alt="" [width]="150">
        <div class="field text-center">
          {{ manga.title }}
        </div>
      </a>
      <div class="field text-center text-sm">更新：{{ manga.updateStatus }}</div>
      <div class="field text-center text-sm">更新日期：{{ manga.updateDt }}</div>
    </div>
    <div class="col-12">
      <div class="flex justify-content-center flex-wrap">
        <div class="flex align-items-center justify-content-center w-4rem" *ngFor="let pager of mangaList.pager">
          <button pButton pRipple type="button" label="{{pager.page}}" class="p-button-rounded p-button-outlined" (click)="changePage(pager.page)"></button>
        </div>
      </div>
    </div>
  </div>
</p-card>
